#=====================================================================================
# Description: Packaging OpenWrt for qemu, allwinner, rockchip and amlogic
# Copyright (C) 2021 https://github.com/unifreq/openwrt_packit
# Copyright (C) 2021 https://github.com/ophub/flippy-openwrt-actions
#=====================================================================================

name: Packaging QEMU and others

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      source_branch:
        description: "Select the source branch"
        required: false
        default: "lede"
        type: choice
        options:
          - lede
          - official
      openwrt_soc:
        description: "Select device board"
        required: false
        default: "all"
        type: choice
        options:
          - all
          - s922x_s905x3_s905x2_s912_s905d_s905
          - rock5b_h88k
          - h66k_h68k_r66s_r68s_e25_photonicat
          - beikeyun_l1pro
          - rock5b
          - h88k
          - h66k
          - h68k
          - r66s
          - r68s
          - e25
          - photonicat
          - beikeyun
          - l1pro
          - vplus
          - s922x
          - s922x-n2
          - s905x3
          - s905x2
          - s912
          - s905d
          - s905
          - qemu
          - diy
      openwrt_kernel:
        description: "Select kernel version"
        required: false
        default: "5.15.1_6.1.1"
        type: choice
        options:
          - 5.4.1_5.10.1_5.15.1
          - 5.4.1_5.10.1
          - 5.10.1_5.15.1
          - 5.15.1_6.1.1
          - 5.4.1
          - 5.10.1
          - 5.15.1
          - 6.1.1
      kernel_repo:
        description: "Set the kernel repository"
        required: false
        default: "breakings/OpenWrt"
        type: choice
        options:
          - ophub/kernel
          - breakings/OpenWrt
      auto_kernel:
        description: "Auto use the latest kernel"
        required: false
        default: true
        type: boolean

env:
  TZ: America/New_York

jobs:
  build:
    runs-on: ubuntu-22.04
    if: ${{ github.event.repository.owner.id }} == ${{ github.event.sender.id }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Initialization environment
        id: init
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          docker rmi `docker images -q`
          [[ -n "${AGENT_TOOLSDIRECTORY}" ]] && sudo rm -rf "${AGENT_TOOLSDIRECTORY}"
          sudo rm -rf /usr/share/dotnet /etc/apt/sources.list.d /usr/local/lib/android 2>/dev/null
          sudo -E apt-get -y update
          sudo -E apt-get -y purge azure-cli ghc* zulu* llvm* firefox google* dotnet* powershell openjdk* mongodb* moby* || true
          sudo -E apt-get -y install $(curl -fsSL https://is.gd/depend_ubuntu2204_openwrt)
          sudo -E systemctl daemon-reload
          #sudo -E apt-get -y full-upgrade
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          sudo timedatectl set-timezone "${TZ}"
          echo "status=success" >> ${GITHUB_OUTPUT}

      - name: Download armvirt file
        id: down
        if: ${{ steps.init.outputs.status }} == 'success' && !cancelled()
        run: |
          openwrt_url="$(curl \
                            --header "authorization: Bearer ${{ secrets.GH_TOKEN }}" \
                            -s "https://api.github.com/repos/${GITHUB_REPOSITORY}/releases" |
                            grep -o "OpenWrt_.*${{ inputs.source_branch }}.*/.*rootfs.tar.gz" |
                            head -n 1
                        )"
          [[ -z "${openwrt_url}" ]] && echo -e "OpenWrt file not found!" && exit 1
          #
          armvirt_tarfile_path="openwrt/bin/targets/armvirt/64"
          [[ -d "${armvirt_tarfile_path}" ]] || mkdir -p ${armvirt_tarfile_path}
          #
          wget -q -P "${armvirt_tarfile_path}" "https://github.com/${GITHUB_REPOSITORY}/releases/download/${openwrt_url}"
          [[ "${?}" -ne "0" ]] && echo -e "The armvirt file download failed!" && exit 1
          echo "status=success" >> ${GITHUB_OUTPUT}

      - name: Packaging OpenWrt [ ${{ inputs.source_branch }} ]
        uses: ophub/flippy-openwrt-actions@main
        if: ${{ steps.down.outputs.status }} == 'success' && !cancelled()
        env:
          OPENWRT_ARMVIRT: openwrt/bin/targets/*/*/*rootfs.tar.gz
          KERNEL_REPO_URL: ${{ inputs.kernel_repo }}
          PACKAGE_SOC: ${{ inputs.openwrt_soc }}
          KERNEL_VERSION_NAME: ${{ inputs.openwrt_kernel }}
          KERNEL_AUTO_LATEST: ${{ inputs.auto_kernel }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Upload OpenWrt Firmware to Release
        uses: ncipollo/release-action@main
        if: ${{ env.PACKAGED_STATUS }} == 'success' && !cancelled()
        with:
          tag: OpenWrt_aarch64_${{ env.PACKAGED_OUTPUTDATE }}
          artifacts: ${{ env.PACKAGED_OUTPUTPATH }}/*
          allowUpdates: true
          token: ${{ secrets.GH_TOKEN }}
          body: |
            This is OpenWrt firmware for Amlogic and Rockchip
            * Firmware information
            Default IP: 192.168.1.1
            Default username: root
            Default password: password
